@using SimpleAdsAuthData
@model MyAccountViewModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        @foreach (Ad ad in Model.Ads)
        {
            <div class="jumbotron">
                <h5>Listed by @ad.Name</h5>
                <h5>Listed on @ad.Date.ToLongDateString()</h5>
                <h5>Phone Number: @ad.PhoneNumber</h5>
                <h3>Details:</h3>
                <p>@ad.Content</p>
                <form method="post" action="/home/deletead">
                    <input type="hidden" name="id" value="@ad.Id" />
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        }
    </div>
</div> 
